#home,
#about,
#portfolio,
#contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

/* Make each main section fill the viewport height and center content */
#home,
#about,
#portfolio,
#contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.app{
  background-color: black;
  color: white;
  position: relative;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff !important;
}

